.panel-dashboard {
  background-color: $panel-dark;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 20px;
}

.card-resp-dashboard{
  background-color: #4E5D6C;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.resp-urgent-dashboard {
  background-color: #2b3e50;
}

.status-badge {
  padding-left: 0px !important;
}

.container-responses {
  margin-right: -30px;
  margin-left: -30px;
}
