.container
  .col-sm-12
    p simplicityjs &copy;
  .row
    .col-sm-2.col-lg-offset-5
      .col-sm-10.col-sm-offset-1.power-by
        span Powered By&nbsp;
        b MEAN
        span.stack-color stack
