.container
  .row
    .col-lg-12
      h3.page-header.header-cust Request has been submitted.
  .row
    .col-lg-12
      p You will receive an email / or text message once the request has been assigned to a person.
      hr
  .row
    .col-lg-12
      .col-lg-2
        button(ng-click="vm.changeState('main')").btn.btn-default.btn-block Create Another
      .col-lg-2
        button(ng-click="vm.changeState('inquiry')").btn.btn-default.btn-block Inquiry List
      .col-lg-2
        button(ng-click='vm.exit()').btn.btn-default.btn-block Exit














