.confirm-box {
  padding: 10px;
  font-size: 12px;
  width: 130px;
  float: left;
  border: 0;
  display: block;
  margin-top: 3px;
}

.radio-position {
  margin-left: -15px;
  margin-top: 2px;
  padding-top: 4px;
  border: solid;
  border-color: #4e5d6c;
}

#empl-type-2 {
  margin-left: 20px;
}
